body{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)),
    url("PC background.jpg") center/cover no-repeat fixed;
    justify-content: stretch;
    font-family: 'Poppins', sans-serif;
}
/* --------Dropdown---------- */
.dropdown .dropdown-menu input {
    border-color: transparent;
    color: #fff;
}