@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(83, 83, 83);
    font-size: 14px;
    line-height: 22px;
    color: #beb4b4
}

#mainHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color:rgb(69, 69, 69)
}

.logo{
    margin-top: -15px;
    cursor: pointer;
    margin-right: auto;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    color: aliceblue;
    margin-left: 20px;
    display: inline-block;
    margin-top: -15px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: white;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169, 0.8);
}

