*{
    list-style: none;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)),
    url("PC background.jpg") center/cover no-repeat fixed;
    justify-content: stretch;
    font-family: 'Poppins', sans-serif;
}

.container {
    color: #fff;
}

.about-title p {
    letter-spacing: 6px;
}

.about-desc p {
    letter-spacing: 2px;
}

.about-members p {
    letter-spacing: 3px;
}