.container {
    color: #fff;
}
/* ---------Footer Style Start------------- */
footer {
    color: #fff;
    background-color: #212529;
    font-size: larger;
}
footer h1 {
    letter-spacing: 2px;
    font-weight: bolder;
}

footer ul {
    list-style-type: none;
    line-height: 2rem;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover{
    color: #fff;
    opacity: .5;
}

footer i {
    margin-right: 1.5rem;
    font-size: 2rem;
    color: #fff;
}
footer i:hover {
    opacity: .5;
}